{%- for p in params %}
{%- set name = p["name"] %}
{%- set url = p["url"] %}
apiVersion: batch/v1
kind: Job
metadata:
  name: jobexample-{{ name }}
  labels:
    jobgroup: jobexample
spec:
  template:
    metadata:
      name: jobexample
      labels:
        jobgroup: jobexample
    spec:
      containers:
      - name: c
        image: busybox
        volumeMounts:
        - mountPath: /test-pd
          name: test-volume
        command: ["sh", "-c", "echo Processing URL {{ url }} >> /test-pd/testing{{ name }}.txt && sleep 5"]
      restartPolicy: Never
      volumes:
      - name: test-volume
        hostPath:
          # directory location on host
          path: /data
          # this field is optional
          type: DirectoryOrCreate
---
{%- endfor %}
