{%- for p in params %}
{%- set part = p["part"] %}
{%- set width = p["width"] %}
{%- set height = p["height"] %}
{%- set location = p["scene_location"] %}
apiVersion: batch/v1
kind: Job
metadata:
  name: worker-{{ part }}
  labels:
    jobgroup: worker
spec:
  template:
    metadata:
      name: worker
      labels:
        jobgroup: worker
    spec:
      containers:
      - name: rtw
        image: jaredscience/ray_tracer:latest
        command: ["python", "worker.py", "{{ part }}", "--width={{ width }}",
                  "--height={{ height }}", "--scene_location={{ location }}"]
      restartPolicy: Never
---
{%- endfor %}
