apiVersion: batch/v1
kind: Job
metadata:
  name: controller-{{ contr_name[0]['contr_name'] }}
  labels:
    jobgroup: contr
spec:
  template:
    metadata:
      name: contr
      labels:
        jobgroup: contr
    spec:
      containers:
      - name: rtc
        image: jaredscience/ray_tracer_controller:latest
        volumeMounts:
        - mountPath: /data
          name: nfs-server
        command: ["python", "controller.py", "{{ params[0].get('unique_key') }}",
                  "--width={{ params[0].get('width') }}",
                  "--height={{ params[0].get('height') }}",
                  "--scene_location={{ params[0].get('scene_location') }}"]
      restartPolicy: Never
      volumes:
      - name: nfs-server
        nfs:
          # TODO: put url here
          server: 10.11.253.194
          path: /
---
{%- for p in params %}
{%- set part = p["part"] %}
{%- set width = p["width"] %}
{%- set height = p["height"] %}
{%- set location = p["scene_location"] %}
{%- set worker_name = p["worker_name"] %}
{%- set unique_key = p["unique_key"] %}
apiVersion: batch/v1
kind: Job
metadata:
  name: worker-{{ part }}{{ worker_name }}
  labels:
    jobgroup: worker
spec:
  template:
    metadata:
      name: worker
      labels:
        jobgroup: worker
    spec:
      containers:
      - name: rtw
        image: jaredscience/ray_tracer_worker:latest
        volumeMounts:
        - mountPath: /data
          name: nfs-server
        command: ["python", "worker.py", "{{ part }}", "{{ unique_key }}",
                  "--width={{ width }}", "--height={{ height }}",
                  "--scene_location={{ location }}"]
      restartPolicy: Never
      volumes:
      - name: nfs-server
        nfs:
          # TODO: put url here
          server: 10.11.253.194
          path: /
---
{%- endfor %}
